/*********************************************************************
** Program Filename: style.css
** Author: Aaron Boothe
** Date: 4/24/2022
** Description: Style sheet for the CS-361 Dam News product.
*********************************************************************/

/*
 *  Header/body section
*/

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;

  /*solid orange*/
  /*background-color: #ed622f;*/

  /*radial gradient, centered, orange to black, looks funky on index page*/
  background: radial-gradient( #ED622F, #313131);

  /*gradient left to right, orange to black*/
  /*background: linear-gradient(90deg,#ED622F, #313131);*/
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 1px black;
}

header h1 {
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #fff;
}

header img {
  width: 150px;
}

main button {
  display: block;
  margin: auto;
}

/*
 *  Left-side navigation tabs
*/

#tabs-section {
  display: flex;
  margin-left: 800px;
  /*float: right;
  width: 75px;
  text-align: center;*/
}

#tab-container {
  /*border: 1px solid black;*/
  margin: 0px 40px 0px 0px;
}

/*
 *  Feed section
*/

#feed-container {
  text-align: center;
}

#feed-name-display-container {
  text-decoration: underline;
  font-size: 25px;
}

#feed-name-description {
  font-size: 14px;
}

/*
 *  Search section
*/

#search-container {
  text-align: center;
}

#search-by-display {
  text-decoration: underline;
  font-size: 25px;
}

/*
 *  Search results section
*/

#results-display {
  text-decoration: underline;
  font-size: 25px;
}

/*
 *  Articles section
*/

#article-display-container {
  background: #ffffff;
  border-width: 1px;
  color: black;
  border-radius: 25px;
  padding: 5px;
  margin: 25px 33% 5%;
  text-align: center;
}

#article-img-container{
  width: 100px;
 height: 100px;
}

#example-img {
  width: 100px;
 height: 100%;
 float: left; 
}

/*h3, p{ display:inline; vertical-align:middle;}*/

/*h3.left {
  float: left;
  text-align: center;
}

p.right {
  float: right;
  text-align: center;
}*/

/*
 *  Back arrow navigation
*/

#back-arrow-img {
  width: 100px;
 height: 100%;
}

#next-input-button {
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 10px;
}

main button {
  width: 80px;
  border-radius: 3px;
}

/*
 *  Collapsibles
*/
.collapsible {
  background-color: #ddd;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18.72px;
  border-radius: 25px;
  /*border-radius: 25px;*/
}

.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #eee;
  border-radius: 25px;
}

/*
 *  Collapsibles - Help page
*/
#feed-name-title.collapsible {
  font-weight: 700;
}

/*
 *  Collapsibles - Search page
*/

.collapsibleSearch {
  cursor: pointer;
  /*background-color: #ddd;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18.72px;
  border-radius: 25px;*/
}

.collapsibleSearch:hover {
  background-color: #ccc;
}

.contentSearch {
  /*padding: 0 18px;*/
  display: none;
  overflow: hidden;
  /*background-color: #eee;*/
  /*border-radius: 25px;*/
}

/*#article-display-container.content {
  border-radius: 50px;
}*/