body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;

  /*solid orange*/
  /*background-color: #ed622f;*/

  /*radial gradient, centered, orange to black, looks funky on index page*/
  background: radial-gradient( #ED622F, #313131);

  /*gradient left to right, orange to black*/
  /*background: linear-gradient(90deg,#ED622F, #313131);*/
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 1px black;

}

header h1 {
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #fff;
}

header img {
  width: 150px;
}

main button {
  display: block;
  margin: auto;
}

#gallery-button {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 30px;
}

#index-button {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 30px;
}

.room-code-input-container {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.interior-box {
  background-color: rgba(0, 0, 0, 0.9) ;
  color: white;
}

.interior-box input {
  display: block;
  margin: auto;
}

.interior-box select {
  display: block;
  margin: auto;
}

.player-name-input-container {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.interior-box {
  outline: 2px solid black;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 25px;
}

.error-container h2{
  text-align: center;
}

.error-container h3{
  text-align: center;
}

#galleryPosts {
  display: flex;
  flex-flow: row wrap;
}

.post {
  display: inline-block;
  vertical-align: top;
  /*height: 300px;*/
  height:  100%;
  width: 335px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  /*border-radius: 3px;*/
  background-color: black;
  color: white;
  border-radius: 10px;
  word-spacing: 3px;
}

.post-title {
  font-weight: bolder;
  text-decoration: underline;
}

.post p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabs-section {
  /*position: relative;*/
  float: left;
  width: 75px;
  text-align: center;
}

#tab-container {
  border: 1px solid black;
}

#lobby-container {
  /* background: #ffffff87; */
  background: #000;
  color: white;
  border-radius: 25px;
  padding: 5px;
  margin: 25px 33% 25%;
  text-align: center;
}

#feed-container {
  text-align: center;
  /*position: relative;*/
 /* top: -220px;
  float: left;*/
}

#feed-name-display-container {
  text-decoration: underline;
  font-size: 25px;
}

#search-container {
  text-align: center;
}

#search-by-display {
  text-decoration: underline;
  font-size: 25px;
}

#results-display {
  text-decoration: underline;
  font-size: 25px;
}



#article-display-container {
  /* background: #ffffff87; */
  background: #ffffff;
  border-width: 1px;
  color: black;
  border-radius: 25px;
  padding: 5px;
  margin: 25px 33% 5%;
  text-align: center;
}

 #example-img {
  /*object-fit: cover;  */
  width: 100px;
 height: 100%;
 float: left; 
}

#back-arrow-img {
  width: 100px;
 height: 100%;
 
}

#feed-name-title {
  
  /*float: right; */
}

#feed-name-description {
  font-size: 14px;
  /*float: right; */
}

#article-img-container{
  /*object-fit: cover;  */
  width: 100px;
 height: 100px;
}

#next-input-button {
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 10px;
}

main button {
  width: 80px;
  border-radius: 3px;
}

#player-name-display-container {
  word-spacing: 10px;
  }